<header class= "center aligned row"> Welcome </header>

<br/>
<br/>
<h1>
<li>
<%= link_to 'Billboard Charts', billboards_path, class: 'text-color' %>
<br/>
</li>
<li>
<%= link_to 'Artists', artists_path %>
</li>
</h1>